[submodule "prebuilt/vendor_vndk"]
	path = prebuilt/vendor_vndk
	url = https://hub.fastgit.org/erfanoabdi/vendor_vndk.git
[submodule "tools/ROM_resigner"]
	path = tools/ROM_resigner
	url = https://hub.fastgit.org/erfanoabdi/ROM_resigner.git
